mixin reviewCard(review)
  -if(user)
    .card.mt-5
      .card-body.mb-2
        blockquote.blockquote.mb-0.fs-2.p-3
          p= review.review 
          footer.blockquote-footer.fs-4.mt-2
            | #{review.user.name} 
            cite (#{review.createdAt.toLocaleString('en-us', {day: 'numeric',month: 'long', year: 'numeric'})})
              .reviews__rating
                each star in [1,2,3,4,5]
                  p(style='font-size: 18px')= '☆'
      //- .reviews__card
      //-   .reviews__avatar
      //-     img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
      //-     h6.reviews__user= review.user.name
      //-   p.reviews__text= review.review 
      
      //-       use(xlink:href='/img/icons.svg#icon-star')
      -if(user.role === 'admin' || user.id === review.user.id)
        .review__button
          a.edit__button(href= `/editReview/${[review.id]}`) 
            button.btn.btn--green Edit 
          button.btn.btn--red.delete__button#delete-review(data-review-id=`${review.id}`) Delete
  -else 
    .reviews__card
      .reviews__avatar
        img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
        h6.reviews__user= review.user.name
      p.reviews__text= review.review 
      .reviews__rating
        each star in [1,2,3,4,5]
          svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
            use(xlink:href='/img/icons.svg#icon-star')