extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active': ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content 
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('#','Settings','settings',true)
          +navItem('/myPurchases','My Purchases','briefcase')
          +navItem('#','My reivews','star')
          +navItem('#','Billing','credit-card')
        - if(user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#','Manage Posts', 'map')
              +navItem('#','Manage users', 'users')
              +navItem('#','Manage reviews', 'star')
              +navItem('#','Manage bookings', 'briefcase')
        - if(user.role === 'admin')
          .lessor-nav
            h5.admin-nav__heading Lessor
            ul.side-nav
              +navItem('#','Settings','settings',true)
              +navItem('#','My Post','briefcase')
              +navItem('#','My reivews','star')
              +navItem('#','Billing','credit-card')



      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          //-WITH API
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
            .form__group.ma-bt-md
              label.form__label(for='dateOfBirth') Date Of Birth
              input#dateOfBirth.form__input(type='date', value=`${moment(user.dateOfBirth).format('YYYY-MM-DD')}`, required, name='dateOfBirth')
            .form__group.ma-bt-md
              label.form__label(for='phoneNumber') Phone Number
              input#phoneNumber.form__input(type='text', value=`${user.phoneNumber}`, required, name='phoneNumber')
            .form__group.ma-bt-md
              label.form__label(for='city') City
              input#city.form__input(type='text', value=`${user.city}`, required, name='city')
            .form__group.ma-bt-md
              label.form__label(for='address') Address
              input#address.form__input(type='text', value=`${user.address}`, required, name='address')
            .form__group.ma-bt-md
              label.form__label(for='gender') Gender
              input#gender.form__input(type='text', value=`${user.gender}`, required, name='gender')
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
              input.form__upload(type='file', accept='image/*', id='photo', name='photo')
              label(for='photo') Choose new photo
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-settings Save settings
        .line &nbsp;
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password Save password