doctype html
html 
  head
    block head
    meta(charset='UTF-8')
    meta(name='viewport' content='`  width=device-width, initial-scale=1.0' )
    title Trading Centre | #{title}
    link(rel='stylesheet' href='../css/chatStyle.css')
    link(rel='shortcut icon' type='/image/png' href='../img/favicon.png')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' integrity='sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=' crossorigin='anonymous')

  .chat-container
  header.chat-header
    h1
      i.fas.fa-smile
      |  Chat
    a.btn(href='index.html') Leave Room
    input#user.form-control(type='hidden', name='user', value=user)
    input#conversationId.form-control(type='hidden', name='conversationId', value=conversationId)
  main.chat-main
    .chat-sidebar
      h3
        i.fas.fa-comments
        |  Room Name:
      h2#room-name JavaScript
      h3
        i.fas.fa-users
        |  Users
      ul#users
    .chat-messages
      each message in messages
        .message
          p.meta
            span= `${message.sender.name}` 
            | 
            span= `${moment(message.createdAt).format('h:mm a')}`
          p.text
            | 
            span= `${message.message}`

  .chat-form-container
    form#chat-form
      input#msg(type='text' placeholder='Enter Message' required='' autocomplete='off')
      button.btn
        i.fas.fa-paper-plane
        |  Send

script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js' integrity='sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(src='/socket.io/socket.io.js')
script(src='../js/messages.js')

