doctype html
html 
  head
    block head
    meta(charset='UTF-8')
    meta(name='viewport' content='`  width=device-width, initial-scale=1.0' )
    title Trading Centre | #{title}
    link(rel='stylesheet' href='../css/chatStyle.css')
    link(rel='shortcut icon' type='/image/png' href='../img/favicon.png')
    // Bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    // Font awesome
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css')

.container-fluid.h-100
  input#user.form-control(type='hidden', name='user', value=user)
  input#conversationId.form-control(type='hidden', name='conversationId', value=conversationId)
  .row.justify-content-center.h-100
    .col-md-4.col-xl-3.chat
      .card.mb-sm-3.mb-md-0.contacts_card
        .card-header
          form#search-user
            .input-group
              input#search.form-control.search(type='text' placeholder='Search...' name='')
              .input-group-prepend
                span.input-group-text.search_btn
        .card-body.contacts_body
          each receiver in receivers
            a.img(href=`${receiver.conversationId}`)
              ui.contacts.receiver
                li(class=(receiver.conversationId.toString() === conversationId.toString() ? 'active' : ''))
                  .d-flex.bd-highlight
                    .img_cont
                      img.rounded-circle.user_img(src=`../img/users/${receiver.user.photo}`)
                    .user_info
                      h5(style='color: white')= receiver.user.name
        .card-footer
    .col-md-8.col-xl-6.chat
      .card
        .card-header.msg_head
          .d-flex.bd-highlight
            .img_cont
              img.rounded-circle.user_img(src=`../img/users/${receiver.photo}`)
            .user_info
              span= receiver.name
            .video_cam
              span
                i.fas.fa-video
              span
                i.fas.fa-phone

        .chat-messages.card-body.msg_card_body
          each message in messages
            .message
              p.meta
                span= `${message.sender.name}` 
                span 
                span | 
                span= `${moment(message.createdAt).format('MMMM DD, h:mm a')}`
              p.text
                img.rounded-circle.user_img_msg(src=`../img/users/${message.sender.photo}`)
                | 
                span= `${message.message}`
                
        .card-footer
          form#chat-form
            .input-group
              input#msg.form-control.type_msg(name='' placeholder='Type your message...')
              .input-group-append
                span.input-group-text.send_btn
                  i.fas.fa-location-arrow
// JQuery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')
script(src='/socket.io/socket.io.js')
script(src='../js/messages.js')

